






@import './reset/reset.css';
@font-face {
  font-family: 'SF-Pro-regular';
  src: url('./fonts/SFProDisplay-Regular.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('./fonts/SFProDisplay-Medium.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'SFProDisplay-Light';
  src: url('./fonts/SFProDisplay-Light.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'DaMiOne-Regular';
  src: url('./fonts/DaMiOne-Regular.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'FontsFree-Net-SF-Compact-Rounded-Bold';
  src: url('./fonts/FontsFree-Net-SF-Compact-Rounded-Bold.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'FontsFree-Net-SF-Compact-Rounded-Medium';
  src: url('./fonts/FontsFree-Net-SF-Compact-Rounded-Medium.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'FontsFree-Net-SF-Compact-Rounded-Regular';
  src: url('./fonts/FontsFree-Net-SF-Compact-Rounded-Regular.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'SFProDisplay-Ultralight';
  src: url('./fonts/FontsFree-Net-SFProDisplay-Ultralight.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'GeistMonoVF';
  src: url('./fonts/GeistMonoVF.woff') format('woff2');
       
  
}
@font-face {
  font-family: 'Novoposelensky';
  src: url('./fonts/Novoposelensky.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'Tourney-Regular';
  src: url('./fonts/Tourney-Regular.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'Michroma-Regular';
  src: url('./fonts/Michroma-Regular.woff2') format('woff2');
       
  
}
@font-face {
  font-family: 'Black';
  src: url('./fonts/FontsFree-Net-SFProDisplay-Black.woff2') format('woff2');
       
  
}
.custom-rounded {
  border-radius: 0 0 14px 14px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

